* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
} 

header {
    float: center;
    color: #ffffff;
    width: 920px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
}  

header h1 {
    float: left;
    background-color: #66ccff;
    font-family: helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 40px 40px 0 40px; /* TRouBLe */ 
}    

header nav {
    float: left;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #cccccc;
}    

header a {
    color: #cccccc;
    margin-right: 20px;
    text-decoration: none;
}   

header a:hover {
    color: #66ccff;
}    

header a:active {
    text-decoration: underline;
}

nav {
    float: center;
    font-family: helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    width: 920px;
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
}    

nav a:link {
    color: #cccccc;
}
nav a:visited {
    color: #cccccc;
}
nav a:hover {
    color: #66ccff;
}    
nav a:active {
    text-decoration: underline;
}

nav ul: {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

article {
    float: left;
    padding: 10px 40px 10px 40px;
    line-height: 30px;
}    

article h1 {
    font-size: 36px;  
    line-height: 44px;
    margin-top: 4px;
}    

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}    

p {
    margin-bottom: 16px;
    margin-top: 12px;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
}

h1 {
    color: #000000;
    font-size: 40px;
    font-family: helvetica, arial, sans-serif;
}

h2 {
    font-size: 22px;
    color: #66ccff;
    margin-top: 15px;
    font-family: helvetica, arial, sans-serif;
}

h3 {
    font-size: 16px;
    color: #000000;
    font-family: helvetica, arial, sans-serif;
}    

h4 {
    font-size: 16px;
    color: #66ccff;
    font-family: helvetica, arial, sans-serif;
}      

section {
    align-self: right;
    float: right;
    margin: 10px;
    background-color: #cccccc;   
    font-family: helvetica, arial, sans-serif;
    border: 2px dotted #66ccff;
    padding: 2%;
}   

aside {
    float: right;
    clear: right;
    background-color: #ffffff;
    width: 20%;
    padding-right: 25px;
    text-align: center;
    margin: 0 2% 0 2%;
}  

li {
    margin: 0 0 0 20px;
    font-size: 14px;
}    

li a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
}   

li a:hover {
    color: #66ccff;
}    

#resume p {
    font-family: helvetica, arial, sans-serif;
    margin-bottom: -5px;
} 

#resume h3 {
    margin-top: 10px;
    padding: 1% 0 1% 0;
    margin-bottom: -5px;
}    
    
footer {
    clear: both;
    font-family: helvetica, arial, sans-serif;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align:center;
    font-size: 20px;
    border-top: solid #ffffff 1px;
    color: #66ccff;
    font-weight: 500;
}    

/* Footer Link List styles */

footer a {
    text-decoration: none;
    margin-right: 20px;
    color: #cccccc;
}    

footer a:hover {
    color: #66ccff;
}    

footer a:link {
    color: #cccccc;
}

footer a:hover {
    color: #66ccff;
}    

/* Image styles */

header img {
    border: 2px dotted #000000;
    width: 100%;
    margin: auto;
}   

#me img {
    float: left;
    width: 30%;
    margin: 1% 2% 1% 0;
}    

article img {
    float: center;
    border: 1px solid #cccccc;
    width: 50px;
    margin: 0 auto;
}    

p img {
    width: 100%;
    margin-left: 60px;
}

aside img {
    width: 30%;
    margin-top: 40px;
    margin-right: 3px;
}    
 
#olsen img {
    width:  40%;
    clear: both;
    float: right;
    max-width: 400px;
    margin: 0 0 0 5px;
    border: 1px solid #cccccc;
    padding: 2%;
}    

#olsen p{
    clear: both;
    float: right;
    font-size: 10px;
    color: #000000;
    font-family: helvetica, arial, sans-serif;
    line-height: 5px;
    padding: 0 0 5px 100px;
}

/* Media Screen: Mobile Devices */

@media screen and (max-width: 600px) {
    
   * {
       box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }           
    
    * img {
        max-width: 400px;
    }   
    
    header {
        float: none;
        padding: 0px;
        margin: 0px;
    }    
    
    header nav{
        height: 70px;
        padding: 0px;
        margin: 0 auto;
        float: left;
        width: 100%;
        border: 1px solid #cccccc;
    }
        
    body {
        padding: 0px;
        margin: 0px;
    }
    
    nav {
        width: 100%;
        clear: left;
    }

    h1, h2, h3, h4 {
        text-align: center;
    }    
    
    header img {
        border: 2px dotted #000000;
        width: 100%;
        margin: auto;
    }   

    #me img {
        width: 100%;
        align-content: center;
        padding-bottom: 20px;
        border: none;
    }    
 
    article img {
        margin: auto;
        width: 30%;
    }    
    
    #olsen img {
        width:  70%;
        margin: 5px 0 0 5px;
    }    
    
    aside {
        align-content: center;
        margin: 0 auto;
        width: 30%;
        padding: 2px 0 0 2px;
    }    
    
    article a {
        margin: auto;
        width: 100%;
    }    
        
    section {
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 4px dotted #66ccff;
    } 
    
}